*{
    padding: 0;
    outline: 0;
    margin: 0;
    font-family: 'Poppins';
}

li{
    list-style: none;
}

body{
    background-color: #fff;
}

.container{
    height: 100vh;
}

section[aria-label="navbar"]{
    position: relative;
    height: 15%;
}

.navbar-container{
    height: 100%;
}

.navbar-container>div{
    display: inline-block;
}

.navbar-container img{
    width: 150px;
    position: absolute;
    left: 70px;
    top: 50px;
}

.list-item{
    display: inline-block;
}

.navbar-container div:first-child{
    text-align: center;
}

.grow-list{
    position: absolute;
    left: 250px;
    top: 52px;
    width: 60%;
    color: #a2a0a9;
}

.grow-list .list{
    margin-left: 3rem;
    width: fit-content;
    font-size: 1.5rem;
}

.list-item{
    margin-right: 50px;
}

.list-item:hover{
    color: #000;
}

.button-group{
    position: absolute;
    right: 70px;
    top: 45px;
}

.nav-button{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #5955B3;
    color: #fff;
    font-size: 1.2rem;
}

section[aria-label="banner"]{
    position: relative;
    height: 85%;
}

.banner-container{
    height: 100%;
    width: 100%;
}

.banner-container div:first-child{
    display: inline-block;
    width: 50%;
    height: 100%;
}

.heading-text{
    position: absolute;
    left: 100px;
    top: 40px;
    width: 40%;
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 600;
    color: #3C2F60;
}

.heading-text span{
    color: #5955B3;
}


.description{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 35%;
    font-weight: 400;
    font-size: 2rem;
    color: #969499;
}

.btn{
    font-size: 2rem;
    position: absolute;
    bottom: 150px;
    left: 110px;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #fff;
    background-color: #5955B3;
    border: none;
} 

.banner-container div:last-child{
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 100%;
}

.banner-container>div>img{
    /* width: 800px; */
    width: 1000px;
    position: absolute;
    right: 0;
    top: 0;
}